.brush-box {
  margin: 0 20px 20px 20px;
  height: 100px;
  width: 100px;
  border: solid 2px black;
}

label {
  margin: 20px 0 0 20px;
}

input {
  margin-left: 20px;
  width: 200px;
  height: 30px;
}

button {
  width: 100px;
  height: 30px;
}

.square {
  margin: 10px 0 10px 20px;
  height: 20px;
  width: 20px;
  border: solid 1px black;
}
